/* Media Queries */
@media only screen and ((max-height: 630px) or (max-width: 660px))
{
    div.unfit
    {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    main
    {
        display: none;
    }
}

@media only screen and (max-height: 850px)
{
    body
    {
        background-size: 100vw 200vh;
        margin: 0;
    }

    main
    {
        padding: 45px;
    }

    #emoji
    {
        display: none;
    }
}
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) 
 {

    /*header > *
    {
        margin: 15px;
    }

    #emoji
    {
        display: none;
    }

    header
    {
        font-size:110%;
    }

    header p
    {
        font-size: 120%;
        margin-top: 20px;
    }

    section.question
    {
        text-align: center;
        margin-right: 10px;
    }

    div ol li:hover, div ol li:active
    {
        transform: scaleY(1.1);
        cursor: pointer;
    }

    .ans-grid
    {
        display: grid;
        grid-gap: 10%;
        grid-template-columns: auto;
    }

    section.question
    {
        font-size: 130%;
    }

    div.answers
    {
        font-size: 100%;
        overflow-y: scroll;
    }*/

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) 
 {
    /*header
    {
        font-size:120%;
    }

    header p
    {
        font-size: 130%;
        margin-top: 15px;
    }

    header > *
    {
        margin: 10px;
    }

    section.question
    {
        font-size: 140%;
        text-align: center;
    }

    .ans-grid
    {
        display: grid;
        grid-gap: 7%;
        grid-template-columns: auto;
    }

    div.answers
    {
        font-size: 120%;
        margin-top: 30px;
    }

    div ol li:hover, div ol li:active
    {
        transform: scaleY(1.1);
        cursor: pointer;
    }

    #emoji
    {
        font-size: 150%;
    }*/
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 800px) 
 {
    /*.ans-grid
    {
        display: grid;
        grid-gap: 10%;
        grid-template-columns: auto;
    }

    div ol li:hover, div ol li:active
    {
        transform: scaleY(1.1);
        cursor: pointer;
    }
    
    header
    {
        font-size:120%;
    }

    header p
    {
        font-size: 130%;
    }

    .ans-grid
    {
        display: grid;
        grid-gap:15%;
        grid-template-columns: auto auto;
    }

    div ol li:hover
    {
        transform: scaleY(1.2);
        cursor: pointer;
    }
    
    section.question
    {
        font-size: 140%;
    }

    div.answers
    {
        font-size: 130%;
    }

    #emoji
    {
        font-size: 250%;
    }*/

 }

 @media only screen and (max-width:991px)
 {
    div.unfit
    {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    main
    {
        display: none;
    }
    
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) 
 {
    header
    {
        font-size:150%;
    }

    header > *
    {
        margin: 15px;
    }

    header p
    {
        font-size: 110%;
    }

    .ans-grid
    {
        display: grid;
        grid-gap:20%;
        grid-template-columns: auto auto;
    }

    div ol li:hover, div ol li:active
    {
        transform: scaleY(1.2);
        cursor: pointer;
    }
    
    section.question
    {
        font-size: 180%;
        margin-top: 10px;
    }

    section.question h2
    {
        margin-bottom: 10px;
    }

    section.question h3
    {
        margin-bottom: 10px;
    }

    div.answers
    {
        font-size: 100%;
    }

    #emoji
    {
        font-size: 180%;
    }

    section.result
    {
        position: relative;
        top: 10px;
        font-size: 150%;
    }

    section.buttons
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        flex-direction: row-reverse;
        margin-bottom: 15px;
    }

    section.buttons > button
    {
        font-size: 40px;
    }

    #result-picture
    {
        width: 500px;
    }

    section.result h1
    {
        font-size: 250%;
    }

    section.result > *
    {
        margin: 10px;
    }

    #again
    {
        font-size: 100%;
        padding: 25px;
    }

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1383px) 
 {

    header
    {
        font-size:170%;
    }

    header > *
    {
        margin: 20px;
    }

    header p
    {
        font-size: 120%;
    }

    .ans-grid
    {
        display: grid;
        grid-gap:25%;
        grid-template-columns: auto auto;
    }

    div ol li:hover, div ol li:active
    {
        transform: scaleY(1.3);
        cursor: pointer;
    }
    
    section.question
    {
        font-size: 200%;
    }

    div.answers
    {
        font-size: 100%;
    }

    #emoji
    {
        font-size: 200%;
    }

    section.buttons > button
    {
        font-size: 50px;
    }

    

 } 